.header {
  text-align: center;
  background-color: #000000;
  color: #ffffff; 
  width: auto;
  min-height: 150px;
  padding-top: 2px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right:20px;
  font-size: 22px;
}

@media screen and (max-width: 760px) {
  .header {
    /* Additional styles for smaller screens if needed */
  }
}
