.logo-image {
  background-image: url("https://github.com/nifisz/pd251/blob/main/css/Bg%20NG%201500.jpg?raw=true");
  height: 270px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.logo-center {
  height: 226px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background-position: center;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
